<!DOCTYPE html>
<html lang="en" ng-app="tintAdminApp">
  <head>
    <meta charset="utf-8">
    <title>Tint: Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/application.css">
    <script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>    
    <script src="js/admin.js"></script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">TINT</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/">Admin</a>
            </li>
            <li class="dropdown" dropdown ng-controller="AppsListCtrl">
              <a class="dropdown-toggle" dropdown-toggle id="download">Apps <span class="caret"></span></a>
              <ul class="dropdown-menu">
		<li ng-repeat="app in apps">
		  <a href="/apps/{{app.name}}">{{app.name}}</a>
		</li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://github.com/bmuller/tint" target="_blank">Help</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-lg-offset-1 col-lg-11" id="content">
            <div class="page-header">
              <h1 id="navbar">Welcome to Tint</h1>
            </div>
        </div>
      </div>
      <div class="row" ng-controller="FriendsListCtrl">
        <div class="col-lg-offset-1 col-lg-3" id="content">
          <h3>Friends</h3>
          <ul id="friends" class="list-group">
	    <li class="list-group-item" ng-repeat="friend in friends">
	      {{friend.name}} <button style="float: right;" ng-click="removeFriend($index)">delete</button>
	    </li>
          </ul>

          <form id="form-addfriend">
            <div>
              <label for="name">Name</label>
              <input type="text" ng-model="friend.name" placeholder="Name (Ex: Billy)"/>
            </div>
            <div>
              <label for="keyid">TintID</label>
              <input type="text" required ng-model="friend.keyid" pattern="[a-fA-F0-9]{64}" placeholder="TintID (Ex: 08878f70d2697c3cba57c...)"/>
            </div>
	    <input type="submit" ng-click="addFriend(friend)" value="Add Friend"/>
          </form>

        </div>

        <div class="col-lg-7" id="content">
            <h3>My TintID</h3>
            <pre id="tintid">{{myid}}</pre>
            <h4>My TintID maps to this PublicKey</h4>
            <pre id="keyvalue">{{mykey}}</pre>
        </div>
      </div>

      <footer>
        <div class="row">
          <div id="footer" class="col-lg-offset-1 col-lg-10">
            <ul class="list-unstyled pull-right">
              <li><a href="https://github.com/bmuller/tint">GitHub</a></li>
              <li><a href="https://github.com/bmuller/tint/issues">Issues</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
